<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> CHERAMI APP</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <div class= "wrapper">
    <div class="container">
    <form action="" id="form" method="POST">
        <div class="row">
          <div class="col-25">
            <label for="fname">First Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="firstName" name="firstname" placeholder="Your name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Last Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="lastName" name="lastname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="fname">Your Email</label>
            </div>
            <div class="col-75">
              <input type="text" id="email" name="Email" placeholder="cherami@gmail.com">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="fname">Subject</label>
            </div>
            <div class="col-75">
              <input type="text" id="subject" name="subject" placeholder="write a subject">
            </div>
          </div>
        <div class="row">
          <div class="col-25">
            <label for="message">Message</label>
          </div>
          <div class="col-75">
            <textarea id="message" name="message" placeholder="Write something.." style="height:200px" ></textarea>
          </div>
        </div>
        <div class="row">
          <input id="sendBoton" type="submit" value="Send">
        </div>
      </form>
    </div>
</div>

 <h2 id= 'rendering'></h2>
<script>

  //validations and input value captures

    const firstName= document.getElementById("firstName"); 
    const lastName= document.getElementById ("lastName");
    const email= document.getElementById("email");
    const subject= document.getElementById("subject");
    const message= document.getElementById("message");
    const form= document.getElementById ("form")

    


    form.addEventListener('submit', (e) => {
      e.preventDefault ()  
      if (firstName.value === null || firstName.value === "") {
        firstName.setAttribute("placeholder", "please write your name");
        firstName.style.borderColor="red"
        return false
    }

    if (lastName.value === "") {
        lastName.setAttribute("placeholder", "please write your last name");
        lastName.style.borderColor="red"
      return false
    } 
    
    if (message.value === "") {
        message.setAttribute("placeholder", "write a message");
        message.style.borderColor="red"
        return false
    } 
    
    if (subject.value === "") {
        subject.setAttribute("placeholder", "write a subject here");
        subject.style.borderColor="red"
        return false
    }

    if (!new RegExp(/^\w+([\.-]?\w+)+@\w+([\.:]?\w+)+(\.[a-zA-Z0-9]{2,3})+$/).test(email.value)) {
        email.value= ""
        email.setAttribute("placeholder", "invalid email");
        email.style.borderColor="red"
        return false
    } 
        
    const data = {
      firstName: firstName.value,
      lastName: lastName.value,
      email: email.value,
      subject: subject.value,
      message: message.value
    } 
    
    const options= { 
      method: "POST",
      body: JSON.stringify(data),
      headers: { 'Content-Type': 'application/json' }
    }

    fetch ('/contactBox', options)
    
    form.reset ();
    
  })

    

</script>
</body>
</html>