body {
    background: url(chercher.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Alef', sans-serif;

}

.wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.container {
    background-color: rgba(0, 0, 0, 0.219);
    padding: 10px 20px 50px 20px;
    border-radius: 10px;
}

.container:hover {
    background-color: rgba(246, 251, 255, 0.788);
}


h2 {
    position:absolute;
    margin-left: 48%;
    color: white;
    
}

.slide {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }
  
  .slide div {
    transition: transform 0.8s;
  }
  
  .slide:hover div {
    transform: translateX(-6px);
  }
  
  .slide::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
    
  .slide:hover::after{
      background-color: rgb(128, 6, 6);
  } 
  
  .slide:hover i {
    opacity: 1;
    transform: translateX(-6px); 
  }

  input[type=text] {
    border-radius: 15px;
  }

  textarea {
    border-radius: 8px;
  }